body {
	background: #4B78B3;
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-weight: 100;
}
h1 {
	text-align: center;
	font-size: 60px;
	font-weight: 100;
}
h2 {
	margin-top: 50px;
	font-size: 48px;
	font-weight: 100;
}
h3 {
	font-weight: bold;
	margin-top: 30px;
	font-size: 20px;
	text-transform: uppercase;
}
p {
	font-size: 16px;
	line-height: 1.4em;
}
#wrapper {
	width: 900px;
	margin: 0 auto;
}
img {
	display: block;
	margin: 0 auto;
	width: 500px;
	height: auto;
}

.clear {
	clear: both;
}

#header {
	list-style-type: none;
	margin: 0 auto;
	width: 1000px;
}
#header li {
	float: left;
	margin-right: 30px;
	font-size: 24px;
	border-bottom: 2px solid transparent;
}
#header li:hover, #header li.active {
	border-bottom: 2px solid white;
}
#header li a {
	text-decoration: none;
	color: white;
	display: block;
	margin-bottom: 5px;
}
#header li a:hover {

}